body {
  background-color: #151422;
  font-family: Roboto;
  width: 100%;
}

.header img {
  margin: 0 auto;
  display: block;
  width: 350px;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 .title p {
  font-size: 3em;
  color: #bcb8bb;
  display: inline;
  margin: 0.2em 0 0.2em 0.3em;
}

.title img {
  width: 50px;
  margin: 0 5px 0 0;
}

hr {
  width: 65%;
  border: 3px solid #bcb8bb;
}

.dashboard-left {
  margin-left: 15em;
}

.panel {
  width: 20em;
  height: 12em;
  background-color: #262632;
  margin: 2em;
}
