* {
    margin: 0;
}

html, body {
    height: 100%;
    background-color: #151422;
    font-family: Roboto;
}

/* ========= Landing style ========= */

.item h3 {
  font-size: 20px;
}

.go-to-dash {
  height: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.go-to-dash h2 {
  font-size: 30px;
  display: inline;
  color: #ddd;
  margin-right: 20px;
}

.go-to-dash a {
  width: 120px;
  margin-bottom: 10px;
}

.benefits {
  width: 100%;
  background-color: #F37B75;
}

.box-benefit {
  width: 400px;
  height: 200px;
  background-color: #ddd;
  margin: 20px;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}

.box-benefit img {
  width: 50px;
}

.love {
  height: 100px;
  color: #ddd;
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
}

.love h3 {
  font-size: 20px;
  display: inline;
}

.love img {
  width: 40px;
  margin: 20px;
}

/* Media Queries */

@media screen and (min-width:768px) {

  .carousel-caption {
    height: 100%;
  }

  .align-col {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .item h3 {
    font-size: 90px;
  }
}

@media screen and (min-width:768px) {

  .box-benefit {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* ========= App style ========= */

.header img {
  margin: 0 auto;
  display: block;
  width: 350px;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 .title p {
  font-size: 3em;
  color: #bcb8bb;
  display: inline;
  margin: 50px;
}

.title img {
  width: 50px;
  margin: 0;
}

.panel {
  width: 100%;
  height: 200px;
  background-color: #262632;
  margin: 10px 10px;
}

.panel h3 {
  color: white;
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.6em;
  font-weight: 700;
}

.panel p {
  color: white;
  text-align: center;
  font-weight: 300;
  margin-top: 30px;
  font-size: 3.8em;
}

.city-list {
  width: 100%;
  height: 420px;
  color: #151422;
  background-color: #cec8ce;
  margin-left: 25px;
  margin-top: -10px;
}

.city-list h3 {
  font-size: 1.6em;
  margin-left: 1em;
  font-weight: 700;
  padding-top: 30px;
}

ol {
  font-size: 1.6em;
  font-weight: 300;
  margin-left: 1em;
  margin-top: 1em;
}

#site-status {
  color: green;
}

#api-status {
  color: yellow;
}

/* ========= Login style ========= */

.alert {
  text-align: center;
}

.login {
  height: 75vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

.login h1 {
  font-size: 20px;
}

.login p {
  font-size: 13px;
  margin: 1px;
}

form {
  margin-top: 20px;
}

.footer-login {
  text-align: center;
}

.login img {
  width: 250px;
}

.alpogo-logo {
  display: block;
  text-align: center;
}

@media screen and (min-width:768px) {
  .login {
    width: 50%;
  }
}
